:root {
  --color-gray-dark-1: #333;
  --color-grey-light-1: #f4f2f2;
  --color-grey-light-2: #d9d5d5;
  --color-primary-1: #01adb9;
  --color-primary-2: DeepPink;
  --border-bottom: 1px solid var(--color-grey-light-2);
  --border-bottom-menu: 1px solid black;
  --people-voice-bg-color: #fbf5ed;
  --color-footer: #918f8f; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 83.125em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 57.8125em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 62.5%; }
      html .mostViewed__item:nth-last-child(-n + 5) {
        display: none; } }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  font-weight: 400;
  color: var(--color-gray-dark-1);
  min-height: 100vh; }

.meal {
  display: flex;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 48em) {
    .meal {
      flex-direction: column; } }

.mealInfo {
  display: flex;
  margin: 5rem 0;
  flex-direction: column; }

.header {
  position: fixed;
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
  padding: 2rem 0;
  border-bottom: var(--border-bottom);
  z-index: 100;
  width: 100%;
  background-color: white;
  margin: 0; }

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 19rem; }
  @media only screen and (max-width: 68.125em) {
    .subHeader {
      margin: 0 10rem; } }
  @media only screen and (max-width: 57.8125em) {
    .subHeader {
      margin: 0 7rem; } }
  @media only screen and (max-width: 48em) {
    .subHeader {
      margin: 0 10rem; } }
  @media only screen and (max-width: 40em) {
    .subHeader {
      margin: 0 7rem; } }
  @media only screen and (max-width: 26.5625em) {
    .subHeader {
      margin: 0 2rem; } }

.gymNews {
  margin: 0 19rem 2rem;
  padding-top: 10rem; }
  @media only screen and (max-width: 68.125em) {
    .gymNews {
      margin: 0 10rem 2rem; } }
  @media only screen and (max-width: 57.8125em) {
    .gymNews {
      margin: 0 7rem 2rem; } }
  @media only screen and (max-width: 48em) {
    .gymNews {
      margin: 0 10rem 2rem; } }
  @media only screen and (max-width: 40em) {
    .gymNews {
      margin: 0 7rem 2rem; } }
  @media only screen and (max-width: 26.5625em) {
    .gymNews {
      margin: 0 2rem 2rem; } }

.footer {
  display: flex;
  padding: 8rem 19rem;
  background-color: var(--people-voice-bg-color);
  align-items: center; }
  @media only screen and (max-width: 48em) {
    .footer {
      padding: 8rem 6rem;
      flex-direction: column; } }
  @media only screen and (max-width: 26.5625em) {
    .footer {
      padding: 5rem 0; } }

.subscribe:link, .subscribe:visited {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary-1); }
  @media only screen and (max-width: 48em) {
    .subscribe:link, .subscribe:visited {
      display: none; } }
  .subscribe:link:hover, .subscribe:visited:hover {
    color: var(--color-primary-2); }

.homePage:link, .homePage:visited {
  font-size: 3.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--color-gray-dark-1); }
  @media only screen and (max-width: 48em) {
    .homePage:link, .homePage:visited {
      flex: 0 0 66%;
      font-size: 2.5rem; } }

.search {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #dcdbdb; }
  @media only screen and (max-width: 48em) {
    .search {
      font-size: 3rem;
      max-width: 100%;
      width: 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 1rem;
    border: none; }
    @media only screen and (max-width: 48em) {
      .search__input {
        font-size: 2rem;
        max-width: 100%;
        width: 100%; } }
    .search__input:focus {
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-light-2); }
  .search__button {
    border: none;
    padding: .3rem;
    background-color: #ffffff;
    transition: all .2s; }
    @media only screen and (max-width: 48em) {
      .search__button {
        font-size: 2rem;
        padding: 0.6rem; } }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: scale(1.1); }
    .search__button:hover {
      cursor: pointer; }
  .search__icon {
    height: 1.7rem;
    width: 1.7rem; }
    @media only screen and (max-width: 48em) {
      .search__icon {
        height: 2rem;
        width: 2rem; } }
  .search:hover {
    fill: var(--color-primary-2); }

.mostViewed {
  display: flex;
  flex-direction: column; }
  .mostViewed__gallery {
    display: flex;
    margin-bottom: 3rem; }
  .mostViewed__parentLink:hover {
    opacity: 0.75; }
  .mostViewed__item:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 48em) {
      .mostViewed__item:not(:last-child):not(:nth-child(2)) {
        margin-right: 0; } }
  .mostViewed__photo {
    width: 100%; }
  .mostViewed__story {
    margin-top: 4px; }
  .mostViewed__link {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none; }
    .mostViewed__link:hover {
      color: var(--color-primary-2); }
  .mostViewed__header {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: bold;
    color: inherit;
    border-bottom: var(--border-bottom);
    padding: 2rem 0; }

.leftMeal {
  flex: 1;
  font-family: inherit;
  font-weight: bold;
  margin-right: 6rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 48em) {
    .leftMeal {
      margin-right: 0;
      margin-bottom: 3rem; } }
  .leftMeal__topic {
    font-size: 1.2rem;
    color: var(--color-primary-1);
    margin: 4px 0;
    text-transform: uppercase; }
  .leftMeal__parentLink:hover {
    opacity: 0.75; }
  .leftMeal__photo {
    width: 100%; }
  .leftMeal__story {
    margin: 4px 0; }
  .leftMeal__link {
    text-decoration: none;
    color: inherit;
    font-size: 4rem; }
    .leftMeal__link:hover {
      color: var(--color-primary-2); }
  .leftMeal__descriptionLink {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: inherit; }

.rightMeal {
  flex: 1;
  font-family: inherit;
  font-weight: bold;
  display: flex;
  flex-direction: column; }
  .rightMeal__fraction {
    display: flex; }
    @media only screen and (max-width: 48em) {
      .rightMeal__fraction {
        flex-direction: column; } }
    .rightMeal__fraction:not(:last-child) {
      margin-bottom: 3rem; }
  .rightMeal__topic {
    font-size: 1.2rem;
    color: var(--color-primary-1);
    margin: 4px 0;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .rightMeal__parentLink {
    flex: 0 0 30%;
    margin-right: 2rem; }
    .rightMeal__parentLink:hover {
      opacity: 0.75; }
  .rightMeal__photo {
    width: 100%; }
  .rightMeal__story {
    margin: 4px 0; }
  .rightMeal__link {
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem; }
    .rightMeal__link:hover {
      color: var(--color-primary-2); }
  .rightMeal__smallDescription {
    margin: 1rem 0; }
  .rightMeal__descriptionLink {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: inherit; }

.editorChoice {
  font-family: inherit;
  font-weight: bold;
  display: flex;
  flex-direction: column; }
  .editorChoice__fraction {
    display: flex; }
    @media only screen and (max-width: 48em) {
      .editorChoice__fraction {
        flex-direction: column; } }
    .editorChoice__fraction:not(:last-child) {
      margin-bottom: 3rem; }
  .editorChoice__topic {
    font-size: 1.2rem;
    color: var(--color-primary-1);
    margin: 4px 0;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .editorChoice__parentLink {
    flex: 0 0 23%;
    margin-right: 2rem; }
    .editorChoice__parentLink:hover {
      opacity: 0.75; }
  .editorChoice__photo {
    width: 100%; }
  .editorChoice__story {
    margin: 4px 0; }
  .editorChoice__link {
    text-decoration: none;
    color: inherit;
    font-size: 3.5rem; }
    .editorChoice__link:hover {
      color: var(--color-primary-2); }
  .editorChoice__smallDescription {
    margin: 1rem 0; }
  .editorChoice__descriptionLink {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: inherit; }

.voice {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-bottom); }
  @media only screen and (max-width: 40em) {
    .voice {
      flex-direction: column; } }
  .voice__header {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: bold;
    color: inherit;
    padding: 2rem 0; }
  .voice__link {
    display: flex;
    align-items: center; }
  .voice__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: var(--color-primary-1); }

.btn__inline {
  color: var(--color-primary-1);
  padding: 2rem 5rem;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.6rem;
  font-weight: bold;
  background-color: transparent;
  margin-right: -3rem; }
  @media only screen and (max-width: 40em) {
    .btn__inline {
      padding: 0 5rem 0 0; } }
  .btn__inline:hover {
    cursor: pointer;
    color: var(--color-primary-2); }
  .btn__inline:hover + .voice__icon {
    fill: var(--color-primary-2); }
  .btn__inline:focus {
    outline: none; }

.people-voice {
  margin: 4rem 0; }
  .people-voice__list {
    list-style: none;
    display: flex; }
    @media only screen and (max-width: 48em) {
      .people-voice__list {
        flex-direction: column; } }
  .people-voice__item {
    flex: 1;
    background-color: var(--people-voice-bg-color); }
    .people-voice__item:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 48em) {
        .people-voice__item:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 3rem; } }
  .people-voice__name {
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: bold;
    color: inherit;
    padding: 2rem; }
  .people-voice__photo {
    width: 100%; }
  .people-voice__description {
    padding: 2rem 2rem 3.5rem; }
  .people-voice__link {
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 500;
    color: inherit;
    text-decoration: none; }
    .people-voice__link:hover {
      color: var(--color-primary-2); }

.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: var(--border-bottom); }
  @media only screen and (max-width: 48em) {
    .contact {
      border-right: none;
      margin-bottom: 2rem; } }
  .contact__list {
    list-style: none;
    display: flex; }
  .contact__link:hover {
    fill: var(--color-primary-2); }
  .contact__home-link:link, .contact__home-link:visited {
    padding: 1rem;
    text-decoration: none; }
  .contact__home-link:hover > .contact__home-item {
    color: var(--color-primary-2); }
  .contact__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 2rem; }
  .contact__home {
    list-style: none; }
  .contact__home-item {
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 400;
    color: var(--color-footer); }
    .contact__home-item:not(:last-child) {
      margin-bottom: 1rem; }

.copyRight {
  flex: 1;
  padding: 0 4rem;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--color-footer); }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav__button {
    border: none;
    background-color: transparent;
    margin-right: 2rem;
    color: transparent; }
    .nav__button:hover {
      fill: var(--color-primary-2);
      cursor: pointer; }
    .nav__button:focus {
      outline: none; }
  .nav__icon {
    width: 3.4rem;
    height: 3.4rem; }

#crossIcon {
  display: none; }

.modal {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--people-voice-bg-color);
  z-index: 30;
  padding-top: 10rem;
  position: fixed;
  animation-name: slideDown;
  animation-duration: 1s; }
  @media only screen and (max-width: 48em) {
    .modal {
      flex-direction: column;
      overflow: auto; } }
  .modal__topics {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 19rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 68.125em) {
      .modal__topics {
        margin-left: 10rem; } }
    @media only screen and (max-width: 57.8125em) {
      .modal__topics {
        margin-left: 7rem; } }
    @media only screen and (max-width: 48em) {
      .modal__topics {
        margin: 1rem 10rem 4rem; } }
    @media only screen and (max-width: 40em) {
      .modal__topics {
        margin: 1rem 7rem 4rem; } }
    .modal__topics-header {
      font-size: 2.5rem;
      font-weight: 600;
      color: inherit;
      font-family: inherit;
      padding-bottom: 1rem;
      border-bottom: var(--border-bottom-menu); }
    .modal__topics-list {
      list-style: none;
      margin-top: 2rem; }
    .modal__topics-items {
      font-size: 1.8rem;
      font-weight: 200;
      color: inherit;
      font-family: inherit;
      padding: 2rem 0; }
  .modal__tools {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 19rem; }
    @media only screen and (max-width: 68.125em) {
      .modal__tools {
        margin-right: 10rem; } }
    @media only screen and (max-width: 57.8125em) {
      .modal__tools {
        margin-right: 7rem; } }
    @media only screen and (max-width: 48em) {
      .modal__tools {
        margin: 0 10rem; } }
    @media only screen and (max-width: 40em) {
      .modal__tools {
        margin: 0 7rem; } }
    .modal__tools-header {
      font-size: 2.5rem;
      font-weight: 600;
      color: inherit;
      font-family: inherit;
      padding-bottom: 1rem;
      border-bottom: var(--border-bottom-menu); }
    .modal__tools-list {
      list-style: none;
      margin-top: 2rem; }
    .modal__tools-items {
      font-size: 1.8rem;
      font-weight: 200;
      color: inherit;
      font-family: inherit;
      padding: 2rem 0; }
  .modal__link:link, .modal__link:visited {
    text-decoration: none;
    color: inherit; }
  .modal__link:hover {
    color: var(--color-primary-2); }

@keyframes slideDown {
  0% {
    top: -100%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

.scrollbar__search {
  display: none; }
  @media only screen and (max-width: 48em) {
    .scrollbar__search {
      display: flex;
      margin: 40rem 10rem 2rem; } }
  @media only screen and (max-width: 40em) {
    .scrollbar__search {
      margin: 30rem 7rem 2rem; } }

.header__search {
  display: flex; }
  @media only screen and (max-width: 48em) {
    .header__search {
      display: none; } }
