:root {
  --color-gray-dark-1: #333;
  --color-grey-light-1: #f4f2f2;
  --color-grey-light-2: #d9d5d5;
  --color-primary-1: #01adb9;
  --color-primary-2: DeepPink; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  color: var(--color-gray-dark-1);
  min-height: 100vh; }

.header {
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-grey-light-2); }

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 19rem; }

.gymNews {
  margin: 2rem 19rem; }

.subscribe:link, .subscribe:visited {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary-1); }
  .subscribe:link:hover, .subscribe:visited:hover {
    color: var(--color-primary-2); }

.homePage:link, .homePage:visited {
  font-size: 3.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--color-gray-dark-1); }

.search {
  display: flex;
  align-items: center;
  margin-right: 10px; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 1rem;
    margin-right: -3rem; }
    .search__input:focus {
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-light-2); }
  .search__button {
    border: none;
    padding: .3rem;
    background-color: white;
    transition: all .2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: scale(1.1); }
    .search__button:hover {
      cursor: pointer; }
  .search__icon {
    height: 1.7rem;
    width: 1.7rem; }
  .search:hover {
    fill: var(--color-primary-2); }

.mostViewed {
  display: flex; }
  .mostViewed__parentLink:hover {
    opacity: 0.75;
    font-weight: bolder; }
  .mostViewed__item:not(:last-child) {
    margin-right: 2rem; }
  .mostViewed__photo {
    width: 100%; }
  .mostViewed__story {
    margin-top: 4px; }
  .mostViewed__link {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none; }
