////////////////////////
//subscribe
.subscribe {
    &:link,
    &:visited {
        font-size: 1.75rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-primary-1);
        @media only screen and (max-width: $size-medium-2) {
            display: none;
        }
        &:hover {
            color: var(--color-primary-2);
        }
    }
}

////////////////////////
//homePage
.homePage {
    &:link,
    &:visited {
        font-size: 3.5rem;
        font-weight: bolder;
        text-decoration: none;
        color: var(--color-gray-dark-1);
        @media only screen and (max-width: $size-medium-2) {
            flex: 0 0 66%;
            font-size: 2.5rem;
        }
    }
}

////////////////////////
//search
.search {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #dcdbdb;
    @media only screen and (max-width: $size-medium-2) {
        font-size: 3rem;
        max-width: 100%;
        width: 100%;
    }
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 1rem;
        border: none;
        @media only screen and (max-width: $size-medium-2) {
            font-size: 2rem;
            max-width: 100%;
            width: 100%;
        }
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            font-weight: 300;
            color: var(--color-grey-light-2);
        }
    }
    &__button {
        border: none;
        padding: .3rem;
        background-color: #ffffff;
        transition: all .2s;
        @media only screen and (max-width: $size-medium-2) {
            font-size: 2rem;
            padding: 0.6rem;
        }
        &:focus {
            outline: none;
        }
        &:active {
            transform: scale(1.1);
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        @media only screen and (max-width: $size-medium-2) {
            height: 2rem;
            width: 2rem;
        }
    }
    &:hover {
        fill: var(--color-primary-2);
    }
}

////////////////////////
//mostViewed
.mostViewed {
    display: flex;
    flex-direction: column;
    &__gallery {
        display: flex;
        margin-bottom: 3rem;
    }
    &__parentLink {
        &:hover {
            opacity: 0.75;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
            @media only screen and (max-width: $size-medium-2) {
                &:not(:nth-child(2)) {
                    margin-right: 0;
                }
            }
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin-top: 4px;
    }
    &__link {
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: bold;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__header {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        border-bottom: var(--border-bottom);
        padding: 2rem 0;
    }
}

////////////////////////
//leftMeal
.leftMeal {
    flex: 1;
    font-family: inherit;
    font-weight: bold;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $size-medium-2) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
    }
    &__parentLink {
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 4rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {}
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//rightMeal
.rightMeal {
    flex: 1;
    font-family: inherit;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    &__fraction {
        display: flex;
        @media only screen and (max-width: $size-medium-2) {
            flex-direction: column;
        }
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__parentLink {
        flex: 0 0 30%;
        margin-right: 2rem;
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 2.5rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {
        margin: 1rem 0;
    }
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//editorChoice
.editorChoice {
    font-family: inherit;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    &__fraction {
        display: flex;
        @media only screen and (max-width: $size-medium-2) {
            flex-direction: column;
        }
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    //flex width always applys to the parent element
    &__parentLink {
        flex: 0 0 23%;
        margin-right: 2rem;
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 3.5rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {
        margin: 1rem 0;
    }
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//voice
.voice {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-bottom);
    @media only screen and (max-width: $size-small-1) {
        flex-direction: column;
    }
    &__header {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        padding: 2rem 0;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        fill: var(--color-primary-1);
    }
}

////////////////////////
//btn__inline
.btn__inline {
    color: var(--color-primary-1);
    padding: 2rem 5rem;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: bold;
    background-color: transparent;
    //makes hover effect on this button also on voice__icon
    margin-right: -3rem;
    @media only screen and (max-width: $size-small-1) {
        padding: 0 5rem 0 0;
    }
    &:hover {
        cursor: pointer;
        color: var(--color-primary-2);
    }
    &:hover+.voice__icon {
        fill: var(--color-primary-2);
    }
    &:focus {
        outline: none;
    }
}

////////////////////////
//voice
.people-voice {
    margin: 4rem 0;
    &__list {
        //list-style on parent only
        list-style: none;
        display: flex;
        @media only screen and (max-width: $size-medium-2) {
            flex-direction: column;
        }
    }
    &__item {
        //all items image takes equal size as they all are responsive due to 100%
        flex: 1;
        background-color: var(--people-voice-bg-color);
        &:not(:last-child) {
            margin-right: 2rem;
            @media only screen and (max-width: $size-medium-2) {
                margin-right: 0rem;
                margin-bottom: 3rem;
            }
        }
    }
    &__name {
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        padding: 2rem;
    }
    &__photo {
        width: 100%;
    }
    &__description {
        padding: 2rem 2rem 3.5rem;
    }
    &__link {
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 500;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: var(--color-primary-2);
        }
    }
}

////////////////////////
//contact
.contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: var(--border-bottom);
    @media only screen and (max-width: $size-medium-2) {
        border-right: none;
        margin-bottom: 2rem;
    }
    &__list {
        list-style: none;
        display: flex;
    }
    &__link {
        &:hover {
            fill: var(--color-primary-2);
        }
    }
    &__home-link {
        &:link,
        &:visited {
            padding: 1rem;
            text-decoration: none;
        }
        &:hover>.contact__home-item {
            color: var(--color-primary-2);
        }
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        margin: 2rem;
    }
    &__home {
        list-style: none;
    }
    &__home-item {
        font-size: 1.7rem;
        font-family: sans-serif;
        font-weight: 400;
        color: var(--color-footer);
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

////////////////////////
//copyRight
.copyRight {
    flex: 1;
    padding: 0 4rem;
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 400;
    color: var(--color-footer);
}

////////////////////////
//nav
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__button {
        border: none;
        background-color: transparent;
        margin-right: 2rem;
        color: transparent;
        &:hover {
            fill: var(--color-primary-2);
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    &__icon {
        width: 3.4rem;
        height: 3.4rem;
    }
}

#crossIcon {
    display: none;
}

////////////////////////
//modal
.modal {
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--people-voice-bg-color);
    z-index: 30;
    padding-top: 10rem;
    //makes modal overflow with gymNews class
    position: fixed;
    animation-name: slideDown;
    animation-duration: 1s;
    @media only screen and (max-width: $size-medium-2) {
        flex-direction: column;
        overflow: auto;
        padding-top: 40rem;
    }
    @media only screen and (max-width: $size-small-1) {
        padding-top: 26rem;
    }
    &__topics {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 19rem;
        margin-right: 2rem;
        @media only screen and (max-width: $size-large-2) {
            margin-left: 10rem;
        }
        @media only screen and (max-width: $size-medium-1) {
            margin-left: 7rem;
        }
        @media only screen and (max-width: $size-medium-2) {
            margin: 1rem 10rem 4rem;
        }
        @media only screen and (max-width: $size-small-1) {
            margin: 1rem 7rem 4rem;
        }
        &-header {
            font-size: 2.5rem;
            font-weight: 600;
            color: inherit;
            font-family: inherit;
            padding-bottom: 1rem;
            border-bottom: var(--border-bottom-menu);
        }
        &-list {
            list-style: none;
            margin-top: 2rem;
        }
        &-items {
            font-size: 1.8rem;
            font-weight: 200;
            color: inherit;
            font-family: inherit;
            padding: 2rem 0;
        }
    }
    &__tools {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 19rem;
        @media only screen and (max-width: $size-large-2) {
            margin-right: 10rem;
        }
        @media only screen and (max-width: $size-medium-1) {
            margin-right: 7rem;
        }
        @media only screen and (max-width: $size-medium-2) {
            margin: 0 10rem;
        }
        @media only screen and (max-width: $size-small-1) {
            margin: 0 7rem;
        }
        &-header {
            font-size: 2.5rem;
            font-weight: 600;
            color: inherit;
            font-family: inherit;
            padding-bottom: 1rem;
            border-bottom: var(--border-bottom-menu);
        }
        &-list {
            list-style: none;
            margin-top: 2rem;
        }
        &-items {
            font-size: 1.8rem;
            font-weight: 200;
            color: inherit;
            font-family: inherit;
            padding: 2rem 0;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: inherit;
        }
        &:hover {
            color: var(--color-primary-2);
        }
    }
}

////////////////////////
//modal animation
@keyframes slideDown {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

///////////////////////
//search bar in scroll modal
.scrollbar__search {
    display: none;
    @media only screen and (max-width: $size-medium-2) {
        display: flex;
        margin: 26rem 10rem 2rem;
    }
    @media only screen and (max-width: $size-small-1) {
        margin: 30rem 7rem 2rem;
    }
}

///////////////////////
//search bar in header
.header__search {
    display: flex;
    @media only screen and (max-width: $size-medium-2) {
        display: none;
    }
}