////////////////////////
//subscribe
.subscribe {
    &:link,
    &:visited {
        font-size: 1.75rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-primary-1);
        &:hover {
            color: var(--color-primary-2);
        }
    }
}

////////////////////////
//homePage
.homePage {
    &:link,
    &:visited {
        font-size: 3.5rem;
        font-weight: bolder;
        text-decoration: none;
        color: var(--color-gray-dark-1);
    }
}

////////////////////////
//search
.search {
    display: flex;
    align-items: center;
    margin-right: 10px;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 1rem;
        margin-right: -3rem;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            font-weight: 300;
            color: var(--color-grey-light-2);
        }
    }
    &__button {
        border: none;
        padding: .3rem;
        background-color: white;
        transition: all .2s;
        &:focus {
            outline: none;
        }
        &:active {
            transform: scale(1.1);
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__icon {
        height: 1.7rem;
        width: 1.7rem;
    }
    &:hover {
        fill: var(--color-primary-2);
    }
}

////////////////////////
//mostViewed
.mostViewed {
    display: flex;
    flex-direction: column;
    &__gallery {
        display: flex;
        margin-bottom: 3rem;
    }
    &__parentLink {
        &:hover {
            opacity: 0.75;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin-top: 4px;
    }
    &__link {
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: bold;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__header {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        border-bottom: var(--border-bottom);
        padding: 2rem 0;
    }
}

////////////////////////
//leftMeal
.leftMeal {
    flex: 1;
    font-family: inherit;
    font-weight: bold;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
    }
    &__parentLink {
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 4rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {}
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//rightMeal
.rightMeal {
    flex: 1;
    font-family: inherit;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    &__fraction {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__parentLink {
        flex: 0 0 30%;
        margin-right: 2rem;
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 2.5rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {
        margin: 1rem 0;
    }
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//editorChoice
.editorChoice {
    font-family: inherit;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    &__fraction {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    &__topic {
        font-size: 1.2rem;
        color: var(--color-primary-1);
        margin: 4px 0;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    //flex width always applys to the parent element
    &__parentLink {
        flex: 0 0 23%;
        margin-right: 2rem;
        &:hover {
            opacity: 0.75;
        }
    }
    &__photo {
        width: 100%;
    }
    &__story {
        margin: 4px 0;
    }
    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 3.5rem;
        &:hover {
            color: var(--color-primary-2);
        }
    }
    &__smallDescription {
        margin: 1rem 0;
    }
    &__descriptionLink {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }
}

////////////////////////
//voice
.voice {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-bottom);
    &__header {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        padding: 2rem 0;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        fill: var(--color-primary-1);
    }
}

////////////////////////
//btn__inline
.btn__inline {
    color: var(--color-primary-1);
    padding: 2rem 5rem;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: bold;
    background-color: transparent;
    //makes hover effect on this button also on voice__icon
    margin-right: -3rem;
    &:hover {
        cursor: pointer;
        color: var(--color-primary-2);
    }
    &:hover+.voice__icon {
        fill: var(--color-primary-2);
    }
    &:focus {
        outline: none;
    }
}

////////////////////////
//voice
.people-voice {
    margin: 4rem 0;
    &__list {
        //list-style on parent only
        list-style: none;
        display: flex;
    }
    &__item {
        //all items image takes equal size as they all are responsive due to 100%
        flex: 1;
        background-color: var(--people-voice-bg-color);
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__name {
        font-family: inherit;
        font-size: 2.6rem;
        font-weight: bold;
        color: inherit;
        padding: 2rem;
    }
    &__photo {
        width: 100%;
    }
    &__description {
        padding: 2rem 2rem 3.5rem;
    }
    &__link {
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 500;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: var(--color-primary-2);
        }
    }
}