.container {}

//header
.header {
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    padding: 2rem 0;
    border-bottom: var(--border-bottom);
}

//subHeader
.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19rem;
}

.gymNews {
    margin: 2rem 19rem;
}