//container
.container {}

//header
.header {
    position: fixed;
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    padding: 2rem 0;
    border-bottom: var(--border-bottom);
    z-index: 100;
    width: 100%;
    background-color: white;
    margin: 0;
}

//subHeader
.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19rem;
    @media only screen and (max-width: $size-large-2) {
        margin: 0 10rem;
    }
    @media only screen and (max-width: $size-medium-1) {
        margin: 0 7rem;
    }
    @media only screen and (max-width: $size-medium-2) {
        margin: 0 10rem;
    }
    @media only screen and (max-width: $size-small-1) {
        margin: 0 7rem;
    }
    @media only screen and (max-width: $size-small-2) {
        margin: 0 2rem;
    }
}

//gymNews
.gymNews {
    margin: 0 19rem 2rem;
    //padding makes space with fixed sibling
    padding-top: 10rem;
    @media only screen and (max-width: $size-large-2) {
        margin: 0 10rem 2rem;
    }
    @media only screen and (max-width: $size-medium-1) {
        margin: 0 7rem 2rem;
    }
    @media only screen and (max-width: $size-medium-2) {
        margin: 0 10rem 2rem;
    }
    @media only screen and (max-width: $size-small-1) {
        margin: 0 7rem 2rem;
    }
    @media only screen and (max-width: $size-small-2) {
        margin: 0 2rem 2rem;
    }
}

//footer
.footer {
    display: flex;
    padding: 8rem 19rem;
    background-color: var(--people-voice-bg-color);
    align-items: center;
    @media only screen and (max-width: $size-medium-2) {
        padding: 8rem 6rem;
        flex-direction: column;
    }
    @media only screen and (max-width: $size-small-2) {
        padding: 5rem 0;
    }
}