//container
.container {}

//header
.header {
    position: fixed;
    font-size: 1.6rem;
    font-weight: 500;
    color: inherit;
    padding: 2rem 0;
    border-bottom: var(--border-bottom);
    z-index: 100;
    width: 100%;
    background-color: white;
}

//subHeader
.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19rem;
}

.gymNews {
    position: absolute;
    margin: 10rem 19rem 2rem;
}